.Board {
  color: #2c3a47;
  background: #cad3c8;
  border-radius: 4px;
  width: 280px;
  max-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Board__can-drop {
  background: #f8efba;
}

.Board__header {
  padding: 12px 16px 8px;
  font-weight: 700;
}

.Board__content {
  padding: 8px;
  max-height: 100%;
  overflow: auto;
}

.Board__cards__wrapper {
  min-height: 16px;
}
